.Input{
    background-color: #fff;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.Input:focus{
    background-color: #eee;
}