.Runner{
    background-color: #eee;
    display: inline-block;
    width: 250px;   
    border : 1px solid #bbb;
    padding: 10px;
    margin : 10px 15px;
}

span{
    font-size: .8rem;
    font-weight: bold; 
}